<h2>GradoAlumnos</h2>
<div>
    <button mat-raised-button class="new" color="primary" (click)="openAdd()">Nuevo GradoAlumno</button>
</div>
<div>
    <table mat-table [dataSource]="lst" class = "mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
        <ng-container matColumnDef="alumnoNombre">
            <th mat-header-cell *matHeaderCellDef>AlumnoNombre</th>
            <td mat-cell *matCellDef="let element">{{element.alumnoNombre}}</td>
        </ng-container>
        <ng-container matColumnDef="gradoNombre">
            <th mat-header-cell *matHeaderCellDef>GradoNombre</th>
            <td mat-cell *matCellDef="let element">{{element.gradoNombre}}</td>
        </ng-container>
        <ng-container matColumnDef="seccion">
            <th mat-header-cell *matHeaderCellDef>seccion</th>
            <td mat-cell *matCellDef="let element">{{element.seccion}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button (click)="openEdit(element)" mat-raised-button color="basic">Editar</button> |
                <button (click)="delete(element)" mat-raised-button color="warn">Elminar</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns:columnas"></tr>
    </table>
</div>

