<div class="center-content">
  <mat-card>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['']">
        <mat-icon>home</mat-icon>
        <span>Inicio<br></span>
      </button>
      <button mat-menu-item [routerLink]="['/alumno']">
        <mat-icon>dialpad</mat-icon>
        <span>Alumno<br></span>
      </button>
      <button mat-menu-item [routerLink]="['/grado']">
        <mat-icon>dialpad</mat-icon>
        <span>Grado<br></span>
      </button>
      <button mat-menu-item [routerLink]="['/gradoAlumno']">
        <mat-icon>dialpad</mat-icon>
        <span>GradoAlumno<br></span>
      </button>
      <button mat-menu-item [routerLink]="['/profesor']">
        <mat-icon>dialpad</mat-icon>
        <span>Profesor<br></span>
      </button>
    </mat-menu>
    <router-outlet></router-outlet>
  </mat-card>
</div>